@using BP215Uniqlo.ViewModels.Product 
@model IEnumerable<ProductItemVm>
@foreach (var item in Model)
{
    <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="product">
            <div class="product__inner">
                <div class="pro__thumb">
                    <a href="#">
                        <img src="~/imgs/products/@item.ImageUrl" alt="product images">
                    </a>
                </div>
                <div class="product__hover__info">
                    <ul class="product__action">
                        <li><a title="Add To Cart"><span class="ti-shopping-cart"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="product__details">
                <h2><a asp-action="Details" asp-controller="Product" asp-route-id="@item.Id">@item.Name</a></h2>
                @if (item.IsInStock)
                {
                    if (item.Discount > 0)
                    {
                        <del>$@item.Price</del>
                        <span class="text-danger">$@(item.Price - item.Price * item.Discount / 100)</span>
                    }
                    else
                    {
                        <span class="text-danger">$@item.Price</span>
                    }
                }
                else
                {
                    <span class="text-danger">Stok yenilənəcək</span>
                }
            </div>
        </div>
    </div>
}